<template>
  <div>
    <v-container>
      <div class="question" v-for="(data, id) in ques" :key="id">
        <div class="title text-h5 font-weight-regular py-2">
          <span class="pr-4 font-weight-bold">{{ id + 1 }}. </span>
          <div>{{ data[0] }}</div>
        </div>
        <p class="font-weight-regular pl-5 py-2">
          {{ data[1]['description'] }}
        </p>
        <v-btn-toggle
          :class="{
            radio: data[1]['questionType'] === 'radio',
            ['ques_' + id]: true,
          }"
          @change="scrollToNext($event, id)"
          v-model="selected[id]"
          class="col-md-4 col-sm-12"
        >
          <v-btn
            class="buttons my-2 font-weight-bold"
            v-for="(obj, idx) in data[1]['options']"
            :key="idx"
            color="#f0faf8"
            style="border-color:#0d918f !important"
          >
            {{ obj['value'] }}
          </v-btn>
        </v-btn-toggle>
      </div>
      <div class="submit_btn">
        <v-tooltip bottom :disabled="!disableSubmit">
          <template v-slot:activator="{ on }">
            <div v-on="on" class="d-inline-block">
              <v-btn depressed color="primary" large :disabled="disableSubmit"
                >Submit</v-btn
              >
            </div>
          </template>
          <span>Please answer all the questions</span>
        </v-tooltip>
      </div>
    </v-container>
    <div class="counter">
      <h3 class="font-weight-regular pl-3">
        {{ answered }} out of {{ ques.length }} answered
      </h3>
    </div>
  </div>
</template>

<script>
import json from '../assets/ques.json';
export default {
  name: 'Form',
  components: {},
  data() {
    return {
      ques: Object.entries(json).sort(
        (a, b) => a[1]['displaySequence'] - b[1]['displaySequence']
      ),
      selected: [],
    };
  },
  computed: {
    answered() {
      let count = 0;
      this.selected.forEach((ans) => {
        if (ans != undefined) count++;
      });
      return count;
    },
    disableSubmit() {
      return this.answered != this.ques.length;
    },
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  mounted() {},
  methods: {
    scrollToNext: function(val, id) {
      if (val != undefined) {
        var el = this.$el.querySelector('.ques_' + parseInt(id + 1));
        if (el) {
          el.scrollIntoView({
            behavior: 'smooth',
            block: 'center',
          });
        }
      }
    },
    handleScroll() {
      this.$el.querySelectorAll('.question').forEach((element) => {
        var rect = element.getBoundingClientRect();
        if (rect.bottom < 300 || rect.bottom>window.innerHeight+300) {
          element.style.opacity = 0.2;
        } else {
          element.style.opacity = 1;
        }
      });
    },
  },
};
</script>

<style type="text/css" lang="css" scoped="">
.radio {
  flex-direction: column;
}
.title {
  display: flex;
}
.title > span {
  color: #0d918f;
}
.question {
  padding-bottom: 16vh;
}
.buttons {
  border-width: 3px !important;
}
.counter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white !important;
  height: 8vh;
  border-top: 2px solid black;
  display: flex;
}
.counter > h3 {
  align-self: center;
}
.v-btn.v-size--default {
  color: #045e5d !important;
}
.theme--light.v-btn--active:hover::before,
.theme--light.v-btn--active::before {
  opacity: 1;
  background-color: #045e5d !important;
}
::v-deep .v-btn--active > span {
  color: white !important;
}
.v-btn {
  margin-left: -0.5%;
}
.submit_btn {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .submit_btn {
    padding-bottom: 20%;
  }
}
@media only screen and (min-width: 768px) {
  .submit_btn {
    padding-bottom: 15%;
  }
}
</style>
