<template>
  <v-container>
    <h3 class="font-weight-regular py-2" style="font-size:24px;">
      <span style="color:#0d918f;" class="pr-4 font-weight-bold"
        >{{ id }}.
      </span>
      {{ title }}
    </h3>
    <p class="font-weight-regular pl-5 py-2">
      {{ description }}
    </p>
    <v-btn-toggle
      style=""
      v-model="selected[id]"
      class=" col-md-4 col-sm-12"
      >
      <v-btn
        class="buttons my-2"
        v-for="(obj, id) in options"
        :key="id"
        color="#f0faf8"
        style="border-width:3px !important;
  border-color:#0d918f !important;"
      >
        {{ obj['value'] }}
      </v-btn>
    </v-btn-toggle>
  </v-container>
</template>

<script>
export default {
  name: 'Question',
  props: {
    id: {
      required: true,
    },
    title: {
      required: true,
    },
    description: {
      required: true,
    },
    type: {
      required: true,
    },
    options: {
      required: true,
    },
  },
  data: () => ({
    selected:[]
  }),
};
</script>
